body {
  display: flex; 
  justify-content: center;
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #4e73df, #1cc88a);
}

.container {
  max-width: 800px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  color: #333;
}
/*centra la card*/
.card {
  background: #f8f9fc;
  padding: 15px;
  margin-top: 15px;
  border-radius: 8px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

textarea {
  resize: none;
  height: 80px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border: none;
  border-radius: 6px;
  background: #4e73df;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #2e59d9;
}

.report-item {
  background: #ffffff;
  padding: 60px;
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
